.navBar {
  background-color: #ddd;
  height: 40px;
}
.nav-list {
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-left: 0;
}
.nav-list li {
  display: flex;
  align-items: center;
}
.nav-list li a {
  text-decoration: none;
  color: #333;
}

.oo-loo-logo {
  height: 30px;
  margin-right: 10px;
}

.nav-title {
  font-weight: bold;
}

.title-oompaLoompas-list {
  width: 80%;
  margin: 0 auto;
}

.title-search-bar {
  width: 80%;
  height: 150px;
  margin: 0 auto;
}

.input-search {
  height: 2em;
}

.search-icon-box {
  height: 2em;
  background-color: #ddd;
  padding: 5px;
}

.search-icon {
  height: 1.3em;
}
